body {

    margin: 20px;
    background: #fff;
    font-family: "open sans",sans-serif;

}
* {
    box-sizing: border-box;

}
/*
div {
    border :2px solid black;
    padding : 20px;
} */
.container {    
    margin-top: 20px;
}
h1 {
    font-family: "Montserrat",sans-serif;
}
img {
    margin-top: 50px;
}

ul {
    display: flex;
    list-style: none;

}


li {
    margin: 2%;
    font-size: 14px;
    font-family: "Montserrat",sans-serif;
}

.div2 {
    padding: 100px 50px;
    text-align: center;
}

h2 {
    font-size: 48px;
}